*{
    background-color: rgb(40, 175, 146);
}
#h1{
    color: palegoldenrod;
    font-family: 'Times New Roman', Times, sans-serif;
}

h3{
    background-color: green;
}
h3:hover{
    color: mediumpurple;
}

p:first-child{
    font-size: xx-large;
    font-weight: bold;
}
p::first-letter{
    background-color: mediumvioletred;
}


h1::first-line{
    font-weight: 500;
}
h1:hover{
    background-color: greenyellow;
}

a:active{
    color: mediumaquamarine;
}
p::after{
    content: " .USING AFTER";
}
p::before{
    content: "Paragraph Tag: ";
}


h1,h2,p{
    color: indigo;
}

#adres{
    margin: 0;
    padding: 0;
    color: lawngreen;
}
li
{
    font-size: x-large;
}
li a{
    background-color: lightcoral;
}


div > strong{
    background-color: lightpink;
}


h2 .h{
    background-color: lightseagreen;
}

#divv1{
    background-color: indigo;
    color: lightgreen;
}



audio{
    border: 7px solid black;
}

img ~ figcaption{
    border: 7px solid black;
}


a:visited{
    background-color: lightslategray;
}
li[type="a"]{
    background-color: hotpink;
    border: 3px dotted rgb(19, 20, 18);
}
li[type="b"]{
    background-color: rgb(86, 167, 54);
    border: 3px dotted rgb(19, 20, 18);
}
li[type="c"]{
    background-color: rgb(15, 62, 120);
    border: 3px dotted rgb(19, 20, 18);
}
li[type="d"]{
    background-color: rgb(95, 7, 51);
    border: 3px dotted rgb(19, 20, 18);
}
li[type="e"]{
    background-color: rgb(14, 104, 47);
    border: 3px dotted rgb(19, 20, 18);
}


#tt{
    font-size: xx-large;
}

#divtag{
    border: 5px solid sienna;
}


.e{
    background-color: rebeccapurple;
}
